# Server Configuration
PORT=5000
APP_URL=http://localhost:3000

# Database Configuration
DATABASE_URL=

# Security & Authentication
BCRYPT_SALT_ROUNDS=12
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Payment Gateway (Stripe)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=